<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.westfolk.smartroad" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.westfolk.smartroadv2.MenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="com.westfolk.smartroadv2.BOUGE_TON_CUL" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.westfolk.smartroadv2.RecordActivity"
            android:label="@string/title_activity_record"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.westfolk.smartroadv2.ProximityAlert"
            android:label="@string/title_activity_record"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.westfolk.smartroadv2.StatsActivity"
            android:label="@string/title_activity_record"
            android:screenOrientation="portrait">
        </activity>
        <receiver android:name="com.westfolk.smartroadv2.ProximityReceiver" ></receiver>
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>
